.transactionHistory {
    border-collapse: collapse;

    thead th {
        background-color: #2a2a2a;
        color: white;
    }

    thead th,
    tbody td {
        border: 1px solid #0f0f0f;
        width: 164px;
        height: 32px;
        text-align: center;
    }

    tbody tr:nth-child(odd) {
        background-color: #ffffff;
    }

    tbody tr:nth-child(even) {
        background-color: #d3d3d3;
    }
}
